$primary: hsl(299, 40%, 46%);
$primary-fade: hsla(299, 40%, 46%, 25%);
$primary-dark: hsl(299, 50%, 35%);

$grey-darkest: hsl(299, 26%, 13%);
$grey: hsl(299, 9%, 42%);
$grey-light: hsl(214, 20%, 93%);
